h1{
    text-align: center;
}
p{
    text-align: center;
    font-style: italic;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
img.menuimg {
 width:50px;
 height:50px;

}

.tab-pane {
    margin-right: 5%;
    margin-left: 5%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0;
}