h1{
    text-align: center;
}
p{
    text-align: center;
    font-style: italic;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
img.menuimg {
 width:50px;
 height:50px;

}

