body{
    background-color: #A1C4FD;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-style: italic;
}
img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col{width:18.33%}
.row{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .col-s-1 {width: 8.33%;}
    .col-s-12 {width: 16.66%;}
}
@media only screen and (min-width: 768px) {
    /* For laptops and desktops: */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
}